---
import Ocr from '@components/ocr.astro';
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
      <h1 style="text-align: center;">Extract Text from Image</h1>
      <Ocr />
  </main>
</Layout>
<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    padding: 20px;
    color: #eee;
  }
</style>
